.form-container {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 5%;
  gap: 30px;
}

.gmaps {
  width: 50vw;
  height: auto;
  border-radius: 10px;
}

.gmaps iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.form-contact {
  position: relative;
  width: 50vw;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 3%;
  background-color: #ffffff;
  border: 2px solid #4285f4;
  border-radius: 10px;
}

.form-contact .decorationCard1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  box-shadow: inset 1.5vw 0 0 #4285f4;
  z-index: 20;
  border-radius: 7px 7px 7px 7px;
}

.form-isi {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
}

.form-isi input {
  background: #ffffff;
  border: 1px solid rgba(0, 102, 255, 0.8);
  padding: 2%;
  border-radius: 10px;
}

.form-isi textarea {
  background: #ffffff;
  border: 1px solid rgba(0, 102, 255, 0.8);
  padding: 2%;
  border-radius: 10px;
}

.btn-submit {
  width: 100%;
  height: 50px;
  background: #4285f4;
  border-radius: 90px;
  color: white;
  border: none;
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .form-container {
    width: 100vw;
    flex-direction: column;
  }

  .gmaps {
    width: 100%;
    height: 50vh;
  }

  .form-contact {
    width: 100%;
    padding: 8%;
  }

  .form-contact .decorationCard1 {
    display: flex;
    box-shadow: inset 3vw 0 0 #4285f4;
  }
  .form-isi {
    margin-left: 5px;
  }
  .form-isi input {
    border-radius: 8px;
  }
}
