.navbar{
    height: 13vh;
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5%;
    background-color:rgba(255, 251, 251);
    position: fixed;
    top: 0;
    z-index: 999;
  }

  

  .imgGroups{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .navLeft{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .navRight{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 30px;
  }

  .brandLogo{
    width: 50px;
    height: 50px;
  }

  .textbrand{
    width: auto;
    height: 100%;
    font-size: 10pt;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: default;
  }


  .textbrand1,.textbrand2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    margin-left: 15px;
    color: #073795;
  }  

  .navRight h3{
    font-size: 12pt;
    cursor: pointer;
  }

  .navInput{
    border: 1px solid #001F8D;
    width: 70%;
    height: 100%;
    border-radius: 30px 0 0 30px;
    outline: none;
    background-color: inherit;
    padding: 0 5%;
  }

  .navSearch{
    width: auto;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .icnContainer{
    color: white;
    background-color: #001F8D;
    height:100%;
    width: 40px;
    border-radius: 0 90px 90px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .searchIconNoteBook{
    display: none;
  }
  .searchIconPhone{
    display: none;
  }
  .menuNav{
    display: none;
  }

  /*Untuk Tampilan NoteBook*/
@media only screen and (min-width : 984px) and (max-width : 1243px){
  .navSearch{
    display: none;
  }
  .searchIconNoteBook{
    display: flex;
    color: black;
    font-size: 14pt;
    width: 50px;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 2% 0;
  }
}
  @media only screen and (min-width: 401px) and (max-width : 983px){
    .navbar{
      padding: 0 5%;
    }
    .navRight{
      display: none;
    }
    .navLeft{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
    }

    .searchIconPhone{
      display: flex;
    font-size: 18pt;

    }
    .menuNav{
      display: flex;
    font-size: 22pt;

    }
  }

  @media only screen and (max-width : 400px){
    .navbar{
      padding: 0 5%;
    }
    .navRight{
      display: none;
    }
    .navLeft{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
    }

    .searchIconPhone{
      display: flex;
    font-size: 18pt;

    }
    .menuNav{
      display: flex;
    font-size: 22pt;
    }

    .imgGroups img{
      width: 40px;
      height: 40px;
    }

    .textbrand1,.textbrand2 {
      font-size: 12pt;
    }
  }