.productHeader{
    width: 100vw;
    position: relative;
    height: 70vh;
    margin-top: 120px;
}

.darkEffect{
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.308);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10%;
}   

.productTextHeader{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display:flex;
    color: white;
    position: relative;
    z-index: 30;
    gap: 5%;
    text-align: center;
    font-size: 4rem;
    font-family: 'Ropa Sans', sans-serif;
}

.productTextHeader > h1 {
    font-weight: normal;
}

@media only screen and (max-width : 500px) {
    .productTextHeader{
        font-size: 1.5rem;
    }

    .productHeader{
        width: 100vw;
        position: relative;
        height: 35vh;
        margin-top: 85px;
    }
}

@media only screen and (min-width : 500px) and (max-width : 700px) {
    .productTextHeader{
        font-size: 2.5rem;
    }

    .productHeader{
        width: 100vw;
        position: relative;
        height: 40vh;
        margin-top: 85px;
    }
}

@media only screen and (min-width : 700px) and (max-width : 1000px) {
    .productTextHeader{
        font-size: 4rem;
    }

    .productHeader{
        width: 100vw;
        position: relative;
        height: 60vh;
        margin-top: 85px;
    }
}